---
- name: Instalar PHP-FPM
  apt:
    name:
      - php-fpm
      - php-mysql
      - php-curl
      - php-gd
      - php-mbstring
      - php-xml
      - php-zip
      - php-json
    state: present
    update_cache: yes

- name: Detectar versión de PHP
  shell: php -v | head -1 | cut -d' ' -f2 | cut -d'.' -f1,2
  register: php_version_output
  changed_when: false

- name: Guardar versión de PHP
  set_fact:
    php_version: "{{ php_version_output.stdout }}"

- name: Configurar PHP-FPM
  template:
    src: www.conf.j2
    dest: "/etc/php/{{ php_version }}/fpm/pool.d/www.conf"
  notify: restart php-fpm

- name: Iniciar PHP-FPM
  systemd:
    name: "php{{ php_version }}-fpm"
    state: started
    enabled: yes
