- hosts: all
  become: true
  roles:
    - role: commons

- hosts: servidores_web
  become: true
  roles:
    - role: apache2

  tasks:
    # ========================================
    # INSTALACIÓN DE PHPMYADMIN
    # ========================================
    
    - name: Preconfigurar phpMyAdmin para instalación desatendida
      debconf:
        name: phpmyadmin
        question: "{{ item.question }}"
        value: "{{ item.value }}"
        vtype: "{{ item.vtype }}"
      loop:
        - { question: 'phpmyadmin/dbconfig-install', value: 'true', vtype: 'boolean' }
        - { question: 'phpmyadmin/app-password-confirm', value: 'phpmyadmin', vtype: 'password' }
        - { question: 'phpmyadmin/mysql/admin-pass', value: '', vtype: 'password' }
        - { question: 'phpmyadmin/mysql/app-pass', value: 'phpmyadmin', vtype: 'password' }
        - { question: 'phpmyadmin/reconfigure-webserver', value: 'apache2', vtype: 'multiselect' }

    - name: Instalar phpMyAdmin y dependencias PHP
      apt:
        name:
          - phpmyadmin
          - php-mbstring
          - php-zip
          - php-gd
          - php-json
          - php-curl
        state: present
        update_cache: yes

    - name: Habilitar módulo PHP mbstring
      shell: phpenmod mbstring
      notify: restart apache2

    - name: Crear enlace simbólico de phpMyAdmin en Apache
      file:
        src: /usr/share/phpmyadmin
        dest: /var/www/html/phpmyadmin
        state: link

    - name: Configurar phpMyAdmin para servidor remoto
      blockinfile:
        path: /etc/phpmyadmin/config.inc.php
        block: |
          /* Servidor de base de datos remoto */
          $cfg['Servers'][$i]['host'] = '10.0.0.2';
          $cfg['Servers'][$i]['port'] = '3306';
          $cfg['Servers'][$i]['AllowNoPassword'] = false;
        marker: "/* {mark} ANSIBLE MANAGED BLOCK */"
        insertafter: "\\$i\\+\\+;"

  handlers:
    - name: restart apache2
      service:
        name: apache2
        state: restarted

- hosts: servidores_bd
  become: true
  roles:
    - role: mariadb