---
# Playbook principal

- name: Configuración común
  hosts: all
  become: yes
  gather_facts: yes
  roles:
    - commons

- name: Configurar PHP-FPM y aplicaciones
  hosts: servidores_php
  become: yes
  roles:
    - php-fpm
    - wordpress
    - phpmyadmin

- name: Configurar Nginx
  hosts: servidores_web
  become: yes
  roles:
    - nginx

- name: Sincronizar aplicaciones a Nginx
  hosts: servidores_web
  become: yes
  roles:
    - wordpress-sync
    - phpmyadmin-sync

- name: Configurar MariaDB
  hosts: servidores_bd
  become: yes
  roles:
    - mariadb
