#cloud-config
hostname: php-fpm
fqdn: php-fpm.example.org
manage_etc_hosts: true

users:
  - name: debian
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIImhf7JdFUojxgrd5H3Tum8nu3qHbaM02XKy0Boa3JZu arooca27@gmail.com

package_update: true
package_upgrade: false

packages:
  - python3
  - python3-apt
