server {
    listen 80{% if item.name == 'wordpress' %} default_server{% endif %};
    server_name {{ item.datos.nameserver }};
    root {{ item.datos.documentroot }};
    index index.php index.html;
    
    client_max_body_size 100M;
    
{% if item.name == 'wordpress' %}
    location / {
        try_files $uri $uri/ /index.php?$args;
    }
    
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass {{ php_fpm_host }}:9000;
        include fastcgi_params;
    }
    
    location ~ /\.ht {
        deny all;
    }
{% elif item.name == 'phpmyadmin' %}
    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }
    
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass {{ php_fpm_host }}:9000;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
    
    location ~ /\.ht {
        deny all;
    }
    
    location ~ /(libraries|setup|config\.sample\.inc\.php) {
        deny all;
    }
{% else %}
    location / {
        try_files $uri $uri/ =404;
    }
    
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass {{ php_fpm_host }}:9000;
        include fastcgi_params;
    }
{% endif %}
}
