[www]
user = www-data
group = www-data

; Escuchar en todas las interfaces en el puerto 9000
listen = 0.0.0.0:9000

listen.owner = www-data
listen.group = www-data
listen.mode = 0660

; Procesos
pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
